extends ../layouts/default

block content
  .container
    .row
      .col-md-12
        table.table.table-striped
          thead
            tr
              th(style="width: 300px;") Image
              th(style="width: 200px;") Email
              th Description
              th(style="width: 50px;") Approve
              th(style="width: 50px;") Reject
          tbody
            each design in designs
              tr
                td
                  img.img-thumbnail(data-src='design.imageURL', alt='200x200', src=design.imageURL, data-holder-rendered='true', style='width: 300px;')
                td= design.email
                td= design.description
                td
                  a.btn.btn-success(href='/admin/designs/approve/'+design._id+"?originURL="+originUrl, class=design.status==='approved'?'disabled':'') Approve
                td
                  a.btn.btn-danger(href='/admin/designs/reject/'+design._id+"?originURL="+originUrl, class=design.status==='rejected'?'disabled':'') Reject

  include ../layouts/_paginate
